body{
    padding: 2rem;
}

.wrap{
    width: 80%;
    background-color: gainsboro;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 2rem;
}
.developer{
    padding: 1rem;
    text-align: center;
    
}